.react-flow__attribution {
  display: none;
}

@media screen and (max-width: 850px) {
  .cssFlowchartsGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 650px) {
  .cssFlowchartsGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .cssFlowchartsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width:385px){
  .cssFlowchartDialogButtons {
    font-size: 12px;
  }

  .cssFlowchartDialogButtons button {
    padding: 4px 8px;
  }
}

@media screen and (max-width: 310px) {
  .cssFlowchartsGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .cssFlowchartDialogBox {
    padding: 12px;
  }
}