.cssRequestPeopleCard {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 550px) {
    .cssRequestedFriendsGrids {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 350px) {
    .cssRequestedFriendsGrids {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}