@media screen and (max-width: 900px) {
    .cssFriendsGrids{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cssButtonSize {
        font-size: 16px;
    }

    .cssFriendsPopupButtons {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .cssFriendsGridUsername {
        font-size: large;
    }

    .cssRequestSentHeading {
        font-size: large;
    }
}

@media screen and (max-width: 500px) {
    .cssFriendsGridUsername {
        font-size: medium;
    }
    
    .cssFriendsGridUserId {
        font-size: small;
    }

    
    .cssFriendsPopupButtons {
        font-size: 14px;
    }

}

@media screen and (max-width: 420px) {
    .cssFriendsGrids{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .cssFriendsPopup {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .cssFriendsPopupUsername {
        place-items: center;
        margin-left: 0px;
    }
    
    .cssFriendsPopupDetails {
        font-size: small;
    }
}